$color-primary-color: #f1cdb3;
$color-primary-light: #fddcc4;

$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;

$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$start-screen-gradient-background: url(assets/noise_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;

$footer-gradient-background: url(assets/noise_transparent.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;

$card_hover: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

@mixin button_primary() {
    transition-duration: 0.5s;
    background-color: $color-primary-color;
    &:hover {
        background-color: $color-primary-light;
    }
    padding: 15px 45px;
    border-radius: 100px;
    border: none;
    font-size: 17px;
    line-height: 130%;
    cursor: pointer;
    outline: none;
    width: 261px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.92px;
    color: #292929;
}

@mixin button_secondary {
    transition-duration: 0.5s;

    width: 187px;
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1.02px;

    border: none;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $color-primary-color;
    padding: 15px 45px;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.92px;
    cursor: pointer;
    outline: none;
    &:hover {
        box-shadow: none;
        background-color: $color-primary-light;
    }
}

@mixin h2 {
    font: {
        family: Georgia;
        size: 44px;
        weight: 400;
    }
    line-height: 130%;
}

@mixin h3 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 35px;
    }
    line-height: 130%;
    letter-spacing: 2.1px;
}

@mixin h4 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 20px;
    }
    line-height: 115%;
    letter-spacing: 1.2px;
}

@mixin h5 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 15px;
    }
    line-height: 17px;
    letter-spacing: 0.9px;
}

@mixin paragraph-l {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 15px;
    }
    // line-height: 160%;
    line-height: 24px;
}

@mixin paragraph-s {
    font: {
        family: Arial;
        style: italic;
        weight: normal;
        size: 12px;
    }
    line-height: 150%;
}

@mixin logo_title {
    font: {
        family: Georgia, "Times New Roman", Times, serif;
        style: normal;
        weight: normal;
        size: 32px;
    }
    line-height: 35px;
    letter-spacing: 1.92px;
}

@mixin logo_subtitle {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 13px;
    }
    line-height: 15px;
    letter-spacing: 0.1em;
}

@mixin slider-button {
    transition-duration: 0.5s;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    box-shadow: inset 0 0 0 2px $color-primary-color;
    border: none;
    border-radius: 100%;
    padding: 19px;
    background: none;
    cursor: pointer;
    &:hover {
        box-shadow: none;
        background-color: $color-primary-light;
    }
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    height: 728px;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.header {
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 60px;

    .logo {
        display: flex;
        flex-direction: column;

        &__title {
            color: $color-primary-color;
            @include logo_title;
        }

        &__subtitle {
            margin-top: 10px;
            color: $color-light-xl;
            text-align: center;
            @include logo_subtitle;
        }
    }

    .menu {
        display: flex;
        width: 443px;

        .list {
            list-style-type: none;
            display: flex;
            width: 100%;
            justify-content: space-between;

            .list__item {
                display: flex;
                align-items: center;

                .list__link {
                    color: $color-light-xl;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 15px;
                    line-height: 24px;
                    font-weight: 400;
                    cursor: pointer;
                }

                .list__link_active {
                    border-bottom: solid 3px $color-primary-color;
                }

                .list__link_disabled {
                    color: $color-dark-s;
                }
            }
        }
    }
}

.hero {
    display: flex;
    padding-top: 180px;
    background: $start-screen-gradient-background;

    &__content {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 82px;
        padding-right: 42px;
    }
}

.main {
    display: flex;
    flex-direction: column;
}

.content-section__title {
    color: $color-light-xl;
    max-width: 310px;
    @include h2;
    // padding-top: 4px;
}

.content-section__subtitle {
    color: $color-dark-s;
    @include paragraph-l;
    width: 460px;
    margin-top: 42px;
}

.button-text {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #292929;
    margin: 0px 0px;
}

.content-section__button {
    max-width: 207px;
    margin-top: 42px;
    @include button_primary();
}

.about {
    display: flex;
    padding-top: 80px;
    padding-bottom: 100px;
    padding: 80px 360px 100;

    &__image-wrapper {
        display: flex;
    }

    &__image {
        width: 420px;
        padding-right: 120px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 430px;
    }

    &__title {
        padding-top: 14px;
        @include h3;
        color: $color-dark-l;
        width: 370px;
    }

    &__description {
        margin-top: 25px;

        p {
            &:nth-child(2) {
                margin-top: 25px;
            }
            @include paragraph-l;
            color: $color-dark-xl;
        }
    }
}

.pets {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: $color-light-l;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .pets__title {
            max-width: 400px;
            text-align: center;
            color: $color-dark-l;
            @include h3;

            span {
                display: block;
                letter-spacing: 2px;
            }
        }

        .pets__content {
            display: flex;
            align-items: center;

            .pets-cards {
                display: flex;
                padding: 60px 8px;
            }

            .pets-card {
                width: 270px;
                height: 435px;
                background: $color-light-s;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                border-radius: 9px;
                margin: 0 45px;
                &:hover {
                    box-shadow: $card_hover;
                }

                &__image {
                    width: 100%;
                }

                &__content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                &__title {
                    margin: 30px;
                    text-align: center;
                    @include h4;
                    color: $color-dark-l;
                }

                &__button {
                    @include button_secondary;
                    margin-bottom: 30px;
                    color: $color-dark-3xl;
                }
            }

            .slider-button {
                @include slider-button;
            }
            .slider-button_reverted {
                transform: rotate(180deg);

                @include slider-button;
            }
        }
    }
    &__button {
        @include button_primary();
    }
}

.help {
    // width: 1280px;
    padding-top: 80px;
    padding-bottom: 100px;
    //  40px 100px 40px;

    &-content {
        height: 431px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .heading {
            @include h3;
            max-width: 310px;
            text-align: center;
            color: $color-dark-l;
        }

        .list {
            padding-top: 60px;
            width: 100%;
            // height: 341px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-between;
            .help-card {
                margin-left: 60px;
                margin-right: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &_text {
                    @include h4;
                    padding-top: 30px;
                    color: $color-dark-l;
                }
            }
        }
    }
}

.donation {
    background-color: $color-light-l;
    display: flex;
    justify-content: center;

    &-content {
        width: 1200px;
        display: flex;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 100px;
        .donation-dog {
            width: 505px;
            height: 282px;
            padding-top: 11px;
            padding-bottom: 10px;
        }

        .donation-information {
            margin-left: 30px;
            width: 380px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .donation-header {
                @include h3;
                margin-bottom: 20px;
                max-width: 300px;
                color: $color-dark-l;
            }
            .donation-subheader {
                @include h5;
                margin-bottom: 20px;
                color: $color-dark-l;
            }
            .credit-card {
                margin-bottom: 20px;
                @include h4;
                display: flex;
                background-color: $color-primary-color;
                border-radius: 9px;
                width: 349px;
                height: 43px;
                align-items: center;
                justify-content: space-evenly;
                color: $color-dark-l;
                &:hover {
                    background-color: $color-primary-light;
                }
            }
            .legal-info {
                font-family: Arial, Helvetica, sans-serif;
                font-style: italic;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                color: $color-dark-m;
            }
        }
    }
}

.footer {
    background: $footer-gradient-background;
    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
        width: 1200px;
        align-items: center;

        .contacts {
            width: 293px;
            height: 234px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 38px;
        }
        .location {
            width: 302px;
            height: 234px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 38px;
        }
        .footer-title {
            @include h3;
            color: $color-light-xl;
        }
    }
    .contact-details {
        display: flex;
        @include h4;
        color: $color-primary-color;
        align-items: center;
        &__icon {
            margin-right: 20px;
        }
    }
}

A {
    color: inherit;
    height: 32px;


    &:link {
        text-decoration: none;
        cursor: pointer;
    }
}

@media screen and (max-width: 1279px) {

    .pets-cards{
        gap: 40px;
        margin-right: 4px;
        margin-left: 4px;
        width: 596px;
        overflow-x: hidden;
        .pets-card{
            margin:0 !important;
        }
    }



    .content-section__button {
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper {
        padding: 0 30px;
    }

    .header {
        top: 30px;
    }

    .hero {
        padding-top: 150px;
    }

    .hero-wrapper {
        flex-direction: column;
        height: auto;
        align-items: center;

        .hero__image {
            padding-left: 140px;
            width: 709px;
            height: 593px;
            left: calc(50% - 569px / 2 + 70px);
        }
    }
    .hero__content {
        padding-bottom: 100px;
        padding-right: 0;
    }

    .about {
        .wrapper {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 1280px;
            justify-content: space-between;
            padding-left: 2.5rem;
            padding-right: 2.5rem;

            .about__content {
                order: 0;
                padding-bottom: 80px;
                .about__title {
                    padding-top: 0;
                }
            }

            .about__image-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                order: 1;
                .about__image {
                    padding-right: 0;
                    width: 300px;
                }
            }
        }
    }

    .help {
        width: 630px;
        &-content{
            height: 599px;
            .list{
                height: auto;
                row-gap: 55px;
                column-gap: 60px;
                .help-card{
                    width: 170px;
                    height: 113px;
                    margin-left: 0px !important;
                    margin-right: 0px !important;
                }
            }
        }
    }

    .donation{
        .wrapper{
            width: 100%;
        }
        &-content{
            flex-direction: column-reverse;
            align-items: center;
            .donation-information{
                margin-left: 0;
            }
            .donation-dog{
                margin-top: 49px;
                padding-bottom: 0;
                height: 272px;



                // height: 282px;
                // padding-top: 11px;
                // padding-bottom: 0px !important;


            }
        }
    }
    .footer-content{
        margin-top: 30px;
        justify-content: center;
        row-gap: 65px;
        column-gap: 45px;
        .contacts{
            padding-bottom: 0;
        }
        .location{
            padding-bottom: 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        padding: 0 10px;
    }
}
