.main {
    display: grid;
    grid-template-columns: auto 55% 27%;
    gap: 10px;
}

.listCountriesWrapper {
    overflow: auto;
    grid-area: 1/1/3/2;
}

.showTotalCasesWrapper {
    background-color: aquamarine;
    grid-area: 1/3/2/4;
}
