.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.results__happy-smile {
  min-width: 70vh;
}
.results__sad-smile {
  min-width: 70vh;
}
.results__final-score {
  font-size: 3rem;
  color: black;
}