@import "abstract/constants";
@import "abstract/keyframes";

@import "base/base";

@import "components/card";
@import "components/menu__content";
@import "components/burger";
@import "components/cards-container";
@import "components/switch-buttons";
@import "components/game-status";

@import "layout/footer";
@import "layout/header";
@import "layout/wrapper";
@import "layout/content";

@import "roboto.scss";
@import "~normalize.css";

:root {
	--primary-color: rgba(99, 114, 119, 0.45);
	--primary-color-dark: rgba(99, 114, 119, 0.65);
	--overlay-color: rgba(79, 104, 124, 0.95);
	--overlay-color-white: rgba(255, 255, 255, 0.15);
	--menu-speed: 0.75s;
}
