.info {
    margin-top: 20px;
    margin-bottom: 20px;
}
.info-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    &__time {
    }

    &__moves {
    }

}