.tableContent {
  // border: 0.5px solid rgb(92, 92, 92);
  width: 95%;
}

.dataType {
  border: 0.5px solid rgb(92, 92, 92);
  color: rgb(189, 189, 189);
  padding: 5px;
}

.data {
  border-left: 0.5px solid rgb(92, 92, 92);
  border-right: 0.5px solid rgb(92, 92, 92);
  border-bottom: 0.5px solid rgb(92, 92, 92);
  padding: 5px;
  margin-bottom: 10px;
}


