html {
    font-size: 10px;
}
body {
    font-size: 1.4rem;
    font-family: 'Roboto', 'Verdano', sans-serif;
}
.ico_mail {
    background-image: url(../img/mail_fff.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 27px;
}
.ico_instagram {
    background-image: url(../img/insta_fff.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 27px;
}

.ico_facebook {
    background-image: url(../img/telegram_fff.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 27px;
}

.ico_youtube {
    background-image: url(../img/telegram_fff.svg);
    width: 20px;
    height: 20px;
    display: inline-block;

}

.ico_arrow-left {
    background-image: url(../img/arrow-left.png);
    width: 9px;
    height: 14px;
    display: inline-block;
}

.ico_arrow-right {
    background-image: url(../img/arrow-right.svg);
    width: 9px;
    height: 14px;
    display: inline-block;
}

.ico_divider-icon {
    background-image: url(../img/divider-icon.png);
    width: 7px;
    height: 14px;
    display: inline-block;
}

.userpic-wrapper{
    background-image: url(../img/userpic.png);
    width: 45px;
    height: 45px;
    display: inline-block;
}

.slider-item_1 {
    background-image: url(../img/slider-item-1.png);
    width: 407px;
    height: 244px;
    display: inline-block;
}

.slider-item_2 {
    background-image: url(../img/slider-item-2.png);
    width: 407px;
    height: 244px;
    display: inline-block;
}
.slider-item_3 {
    background-image: url(../img/slider-item-3.png);
    width: 407px;
    height: 244px;
    display: inline-block;
}
.slider-item_2-1 {
    background-image: url(../img/content-image-2-2.png);
    width: 407px;
    height: 582px;
    display: inline-block;
}

.sign-up_wallpaper {
    background-image: url(../img/pexels-christina-morillo-1181675\ 1.png);
    width: 1600px;
    height: 524px;
    display: inline-block;
}

.icon-undroid {
    background-image: url(../img/icon-android.png);
    width: 20px;
    height: 23px;
    display: inline-block;
}
.icon-apple {
    background-image: url(../img/icon-apple.png);
    width: 17px;
    height: 20px;
    display: inline-block;
}

.mnu-items-divider {
    background-image: url(../img/mnu-items-divider.png);
    width: 8px;
    height: 0px;
    display: inline-block;
}

h1 {
    font-family: 'Roboto', Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    margin: 0 0;
}

h2 {
    font-family: 'Roboto', Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0;
}

h3 {
    font-family: 'Roboto', Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.wrapper {
    max-width: 1600px;
    margin: auto;
}

.first-page-img {
    background-image: url(https://github.com/rolling-scopes-school/anival-github-JS2020Q3/blob/gh-pages/webdev/img/bg-image.png);
    width: 1600px;
    height: 744px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

.community {
    background-color: #F5F6F7;
    margin: auto;
}

.footer {
    background-color: #000000;
    margin: auto;
    color: #ffffff;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-items: space-between;
}

.navigation {
    display: flex;
    padding: 0;
}

li {
    list-style: none;
    padding-right: 95px;
    vertical-align: center;
}
.header__navigation {
    margin-left: auto;
    margin-right: auto;

}
.text_navigation {
    padding-top: 16px;

}
.button {
    width: 184px;
    height: 46px;
    padding: 15px 47px;
    background-color: #00AFDB;
    border: 0px;
    font-family: 'Roboto', Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.promo__button {
    position: relative;
    left: calc(50% - 85px);
    bottom: calc(50% - 185px);
}
.promo-button-new {
    display: flex;
    flex-direction: row;
    position: relative;
    left: calc(50% - 184px/2);
    top: calc(50% - 46px/2 - 68px);

}

.promo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo__content {
    color: #ffffff;
}

.ico {
    position: absolute;
    left: calc(50% - 100px);
    bottom: 50px;
}
.ico-new {
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: calc(50% - 85px);
    bottom: -462px;
}

.promo_position {
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% - 200px);
}
.promo-text {
    position: absolute;
width: 504px;
height: 50px;
left: calc(50% - 504px/2);
top: calc(50% - 50px/2 - 22px);
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
}

.first-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    position: absolute;
    height: 95px;
    left: -9px;
    right: 0px;
    top: 0px;
    padding-top: 0px;
    padding-bottom: 26px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-items: space-between;
}
.promo-title-new {
    position: relative;
    width: 750px;
    height: 75px;
    left: calc(50% - 750px/2 + 10px);
    top: calc(50% - 75px/2 - 104.5px);
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0;
}

.promo-text-new {
    position: relative;
    width: 504px;
    height: 50px;
    left: calc(50% - 504px/2);
    top: calc(50% - 50px/2 - 99px);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.rappresent__content {
    position: relative;
    width: 407px;
    height: 233px;
    left: 269px;
    top: 295px;
}

.community__content {
    position: relative;
    width: 407px;
    height: 233px;
    left: 269px;
    top: 295px;
}

.rappresent-image {
    background-image: url(./img/content-image-1.png);
    position: relative;
    width: 407px;
    height: 582px;
    left: 924px;
    top: -120px;

}
.rappresent_content_title {
    text-transform: uppercase;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
letter-spacing: 1px;
}

.community_content_title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.4px;
    height: 20px;
    left: calc(50% - 160px/2);
    top: 65px;
    text-transform: uppercase;
}

.rappresent_content_text_position{
position: absolute;
width: 407px;
height: 80px;
left: 0px;
top: 77px;
}
.rappresent_content_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
}
.slider-nav-items {
    position: relative;
    width: 83px;
    height: 18px;
    right: 269px;
    top: 82px;
}

.slider-items {
    width: 1581px;
    height: 244px;
    left: 706px;
    top: -120px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
}


