* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  font-family: "Roboto", "Verdano", sans-serif;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  vertical-align: center;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  margin: 0 0;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  width: 44px;
  height: 44px;
}

.button {
  height: 46px;
  background-color: #00afdb;
  border: 0px;
  font-family: "Roboto", Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

.button_main {
  padding: 15px 47px;
}

.button_platform {
  background-color: #009CC2;
  width: 59px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_download {
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button__description {
  text-align: center;
  width: 127px;
}


.first-page {
  height: 744px;
  // height: 100vh;
  background-image: url(./img/bg-image.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 90px;
  color: #ffffff;

  .header {
    height: 95px;
    display: flex;
    align-items: center;
    justify-items: space-between;

    .navigation {
      padding-right: 12px;

      .logo_header {
        padding: 0 15px;
        width: 74px;
      }

      &__list {
        display: flex;
        flex-direction: row;
        padding: 0;
        column-gap: 85px;
      }

      &__item {
        padding-top: 16px;
      }
    }
  }

  .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 75px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 4.5px;
      text-transform: uppercase;
    }

    &__description {
      width: 504px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  .contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;

    .contacts__link {
      width: 20px;
      height: 20px;
    }

    .mail {
      background-image: url(./img/mail_fff.svg);
    }

    .facebook {
      background-image: url(./img/telegram_fff.svg);
    }

    .instagram {
      background-image: url(./img/insta_fff.svg);
    }

    .youtube {
      background-image: url(./img/telegram_fff.svg);
    }
  }
}

.rappresent {
  height: 842px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  &__content {
    width: 407px;
    height: 233px;
  }

  &__title {
    width: 376px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
  }

  &__description {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
  }

  &__image {
    background-image: url(./img/content-image-1.png);
    width: 407px;
    height: 582px;
  }
}

.community {
  height: 504px;
  width: 100%;
  overflow: hidden;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 139px;
  padding-bottom: 20px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 298px;
    height: 175px;
    margin-left: 269px;
  }

  &__picture {
    background-image: url(./img/userpic.png);
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-bottom: 20px;
  }

  &__title {
    letter-spacing: 2.4px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px;
  }

  &__description {
    width: 298px;
    height: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #4e4e4e;
  }

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 35px;

    &__images {
      height: 244px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      column-gap: 30px;
    }

    &__picture {
      width: 407px;
      height: 244px;
      display: inline-block;
    }

    &__picture_1 {
      background-image: url(./img/slider-item-1.png);
    }

    &__picture_2 {
      background-image: url(./img/slider-item-2.png);
    }

    &__picture_3 {
      background-image: url(./img/slider-item-3.png);
    }

    &__navigation {
      margin-right: 115px;
      width: 83px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .pagination {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 4px;
      }

      .arrow {
        width: 9px;
        height: 14px;
        display: inline-block;
      }

      .arrow-right {
        background-image: url(./img/arrow-right.svg);
      }

      .arrow-left {
        background-image: url(./img/arrow-left.png);
      }
    }
  }
}

.implement {
  height: 842px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  &__image {
    background-image: url(./img/content-image-2-2.png);
    width: 407px;
    height: 582px;
    display: inline-block;
    margin-left: 17%;
    margin-right: 8.5%;
  }

  &__content {
    width: 407px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__description {
    margin-bottom: 30px;
  }
}

.sign-up {
  height: 524px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(./img/sign-up_wallpaper.png);
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  &__input{
    height: 46px;
    width: 340px;
    border: 0;
  }

  .button_submit {
    width: 66px;
  }
}

.download {
  height: 464px;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    margin: 0 auto;
  }
  &__title {
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  &__description {
    padding-bottom: 30px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
  }
}

.footer {
  max-width: 1600px;
  height: 185px;
  background-color: #000000;
  margin: auto;
  color: #ffffff;

  .layout-3-column {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .additional-menu {
      width: 236px;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      justify-content: space-between;

      li {
        padding: 0;
      }
    }
  }
}
